In [3]:
import pandas as pd
import io

In [12]:
contractions_df = pd.read_csv(io.StringIO(",full,prefix,no,suffix\n0,ain't,ain,aint,t\n1,amn't,amn,amnt,t\n2,aren't,aren,arent,t\n3,can't,can,cant,t\n4,could've,could,couldve,ve\n5,couldn't,couldn,couldnt,t\n6,daren't,daren,darent,t\n7,daresn't,daresn,daresnt,t\n8,dasn't,dasn,dasnt,t\n9,didn't,didn,didnt,t\n10,doesn't,doesn,doesnt,t\n11,don't,don,dont,t\n12,e'er,e,eer,er\n15,hadn't,hadn,hadnt,t\n16,hasn't,hasn,hasnt,t\n17,haven't,haven,havent,t\n18,he'd,he,hed,d\n19,he'll,he,hell,ll\n20,he's,he,hes,s\n21,how'd,how,howd,d\n22,how'll,how,howll,ll\n23,how's,how,hows,s\n24,I'd,I,Id,d\n25,I'll,I,Ill,ll\n26,I'm,I,Im,m\n27,I've,I,Ive,ve\n28,isn't,isn,isnt,t\n29,it'd,it,itd,d\n30,it'll,it,itll,ll\n31,it's,it,its,s\n32,let's,let,lets,s\n33,ma'am,ma,maam,am\n34,mayn't,mayn,maynt,t\n35,may've,may,mayve,ve\n36,mightn't,mightn,mightnt,t\n37,might've,might,mightve,ve\n38,mustn't,mustn,mustnt,t\n39,must've,must,mustve,ve\n40,needn't,needn,neednt,t\n41,ne'er,ne,neer,er\n42,o'clock,o,oclock,clock\n43,o'er,o,oer,er\n45,oughtn't,oughtn,oughtnt,t\n46,shan't,shan,shant,t\n47,she'd,she,shed,d\n48,she'll,she,shell,ll\n49,she's,she,shes,s\n50,should've,should,shouldve,ve\n51,shouldn't,shouldn,shouldnt,t\n52,somebody's,somebody,somebodys,s\n53,someone's,someone,someones,s\n54,something's,something,somethings,s\n55,that'll,that,thatll,ll\n56,that're,that,thatre,re\n57,that's,that,thats,s\n58,that'd,that,thatd,d\n59,there'd,there,thered,d\n60,there're,there,therere,re\n61,there's,there,theres,s\n62,these're,these,thesere,re\n63,they'd,they,theyd,d\n64,they'll,they,theyll,ll\n65,they're,they,theyre,re\n66,they've,they,theyve,ve\n67,this's,this,thiss,s\n68,those're,those,thosere,re\n69,'tis,,tis,tis\n70,'twas,,twas,twas\n71,wasn't,wasn,wasnt,t\n72,we'd,we,wed,d\n74,we'll,we,well,ll\n75,we're,we,were,re\n76,we've,we,weve,ve\n77,weren't,weren,werent,t\n78,what'd,what,whatd,d\n79,what'll,what,whatll,ll\n80,what're,what,whatre,re\n81,what's,what,whats,s\n82,what've,what,whatve,ve\n83,when's,when,whens,s\n84,where'd,where,whered,d\n85,where're,where,wherere,re\n86,where's,where,wheres,s\n87,where've,where,whereve,ve\n88,which's,which,whichs,s\n89,who'd,who,whod,d\n91,who'll,who,wholl,ll\n92,who're,who,whore,re\n93,who's,who,whos,s\n94,who've,who,whove,ve\n95,why'd,why,whyd,d\n96,why're,why,whyre,re\n97,why's,why,whys,s\n98,won't,won,wont,t\n99,would've,would,wouldve,ve\n100,wouldn't,wouldn,wouldnt,t\n101,y'all,y,yall,all\n102,you'd,you,youd,d\n103,you'll,you,youll,ll\n104,you're,you,youre,re\n105,you've,you,youve,ve\n")).rename(columns={'no':'no_apostrophe'})

In [58]:
#count_df.loc[contractions_df.no_apostrophe]

/Users/kesslej/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  if __name__ == '__main__':

                 cnt
tok
aint       1096838.0
amnt             NaN
arent       846105.0
cant       8363193.0
couldve      20958.0
couldnt    1089020.0
darent           NaN
daresnt          NaN
dasnt            NaN
didnt      4002254.0
doesnt     3054633.0
dont      20071832.0
eer         340733.0
hadnt       160178.0
hasnt       294856.0
havent     1503150.0
hed         680469.0
hell      22791884.0
hes        1618232.0
howd         29437.0
howll            NaN
hows        540560.0
Id               NaN
Ill              NaN
Im               NaN
Ive              NaN
isnt       1925347.0
itd         271909.0
itll         85890.0
its      525627757.0
...              ...
were     570699558.0
weve        210765.0
werent      223593.0
whatd            NaN
whatll           NaN
whatre           NaN
whats      6462263.0
whatve           NaN
whens        48116.0
whered           NaN
wherere          NaN
wheres      260858.0
whereve          NaN
whichs           NaN
whod         16044.0
wholl            NaN
whore      5199489.0
whos        779583.0
whove            NaN
whyd             NaN
whyre            NaN
whys        148895.0
wont       3978693.0
wouldve      35920.0
wouldnt    1185260.0
yall        625830.0
youd        179268.0
youll       714889.0
youre      1360397.0
youve       476439.0

[101 rows x 1 columns]

In [51]:
#contractions_df[contractions_df['suffix'] == 't'].prefix

In [46]:
count_df = (pd.read_csv('../scattertext/scattertext/data/count_1w.txt', 
                        sep='\t',
                        names=['tok', 'cnt'])
            .set_index('tok'))

In [48]:
count_df.iloc[:5]

             cnt
tok
the  23135851162
of   13151942776
and  12997637966
to   12136980858
a     9081174698

In [47]:
count_df.loc['isnt'].cnt, count_df.loc['ain'].cnt#[contractions_df.iloc[0].no_apostrophe]

(1925347, 1096838)

In [ ]:
1925347
1096838

In [52]:
count_df.loc['aint'] = count_df.loc['ain']
count_df.loc['t'] = count_df.loc['not']